.businessCard{

}

.mainAttributes{
  box-sizing: border-box;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.info{
  line-height: 1;
  padding: 1em;
  width: 300px;
  float: left;
  box-sizing: border-box;
}

.cardDiv{
  display: flex;
  flex-direction: row;
  padding: .75em;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

}

.cardImg{
  float: left;
  background-image: url('./imgs/sketch.jpg');
  text-align: center;
  border-radius: 12px;
}

.info, h5{
  text-align: left;
}

.businessInfo{
  display: block;
  text-align: left;
}

.address{
  float: right;
  position: relative;
}
.address, p{
  text-align: left;
}
